body {
    background-color: rgb(0, 255, 98);
    color: rgba(100, 86, 86, 0.432);
    margin: 0px;
}
.producto {
    text-align: center;
    text-transform: none;
    margin-left: 40px;
    margin-top: 80px;
}